<%- include('../partials/header.ejs') %>
      <main>
            <div class="profile">
                <div class="profile_container">
                   <% if(user){ %>
                        <h3 class="profile_greeting">Welcome, <%= user.firstName %> <%= user.lastName %></h3>
                        <div class="profile_tradesContainer">
                            <%if(trades.length > 0){%>
                                <table>
                                    <tr>
                                        <th class="table_data">Title</th>
                                        <th class="table_data">Category</th>
                                        <th class="table_data">Status</th>
                                        <th class="table_data">Action</th>
                                    </tr>
                                <%trades.forEach(trade => {%>
                                    <tr>
                                        <td class="table_data"> <%=trade.skin_name%></td>
                                        <td class="table_data"> <%=trade.category%></td>
                                        <td class="table_data"><%=trade.status%></td>
                                        <td class="table_data">
                                            <form>
                                                <button type="submit" formmethod="get" formaction = "/trades/<%= trade.id %>/edit" class="btn btn-primary">Edit</button>
                                                <button type="submit" formmethod="post" formaction = "/trades/<%= trade.id %>?_method=DELETE" class="btn btn-danger" >Delete</button>
                                                <% offersbyyou.forEach(offer => { %>
                                                   
                                                    <% if(offer.byUser.equals(user._id) && offer.oItem?._id.equals(trade.id) && offer.oStatus == 'made' ){ %>
                                                        <button class="btn btn-danger" type="submit" formmethod="post" formaction = "/offer/<%= offer.id %>?_method=DELETE" >Withdraw</button>
                        
                                                    <%}%>
                                                <%})%>
                                            </form>
                                        </td>
                                   </tr>
                                <%}) %>
                            </table>
                            <%} else {%>
                                <p>You do not have any listed items at the moment.</p>
                            <%}%>
                            
                        </div>
                         
                        </table>
                        
                        <% if(offers.length > 0){ %>
                            <h3 class="profile_greeting">Offers for you</h3>
                            <table>
                                <tr>
                                    <th class="table_data">Offered Item</th>
                                    <th class="table_data">For Your</th>
                                    <th class="table_data">Status</th>
                                    <th class="table_data">Action</th>
                                </tr>
        
                            
                            <% offers.forEach(offer => { %>
    
                                    <tr>
                                        <td class="table_data"><%=offer.oItem.skin_name%></td>
                                        <td class="table_data"><%=offer.oFor.skin_name%></td>
                                        <td class="table_data"><%=offer.oItem.status%></td>
                                        <td class="table_data">
                                            <form>
                                                <button type="submit" formmethod="post" formaction = "/offer/<%= offer.id %>/accept?_method=PUT" class="btn btn-primary">Accept</button>
                                                <button type="submit" formmethod="post" formaction = "/offer/<%= offer.id %>/reject?_method=PUT"  class="btn btn-danger" >Reject</button>
                        
                                            </form>
                                        </td>
                                    </tr>
    
                                
                            <%})%>
                        </table>
                        <% } %>

                        <% if(user.watch.length > 0){ %>
                            <h3 class="profile_greeting">Your Watch List</h3>
                            <table>
                                <tr>
                                    <th class="table_data">Title</th>
                                    <th class="table_data">Category</th>
                                    <th class="table_data">Status</th>
                                    <th class="table_data">Action</th>
                                </tr>
        
                                <%let uniquelist = new Map();%>
                                <%let count = 0%>
                            <% user.watch.forEach(skin => { %>
                                
                              
                               

                                    <tr>
                                        <td class="table_data"><%=skin.skin_name%></td>
                                        <td class="table_data"><%=skin.category%></td>
                                        <td class="table_data"><%=skin.status%></td>
                                        <td class="table_data">
                                            <form>
                                                <button type="submit" formmethod="get" formaction = "/trades/<%= skin.id %>" class="btn btn-primary">View</button>
                                                <button type="submit" formmethod="get" formaction = "/watch/<%= skin.id %>/remove" class="btn btn-danger">Unwatch</button>
                                            </form>
                                        </td>
                                    </tr>
    
                                
                            <%})%>
                            
                        </table>
                        <% } %>

                        <% if(offersbyyou.length > 0){ %>
                            <h3 class="profile_greeting">Track offers made by you</h3>
                            <table>
                                <tr>
                                    <th class="table_data">Wanted Item</th>
                                    <th class="table_data">Offered by you</th>
                                    <th class="table_data">Status</th>
                                    
                                </tr>
        
                            
                            <% offersbyyou.forEach(offer => { %>
                    
                                    <tr>
                                        <td class="table_data"><%=offer.oFor?.skin_name%></td>
                                        <td class="table_data"><%=offer.oItem?.skin_name%></td>
                                        <td class="table_data"><%=offer.oStatus%></td>
                                       
                                    </tr>
    
                               
                            <%})%>
                        </table>
                        <% } %>

                     
                   <% } else { %>
                        <h2>Please Login</h2>
                    <%}%>
                    
                </div>
            
            </div>
      </main>
<%- include('../partials/footer.ejs') %>