<%- include('../partials/header.ejs') %>
<main class="main_edit">
            <div class="edit_container">
                <form class="edit_form" action="/trades/<%= skin.id %>?_method=PUT" method="POST">
                    <div class="edit_row">
                        <div class="row_left">
                            <label>Category</label>
                        </div>
                        <div class="row_right">
                            <input class="edit_text" type="text" id="category" name="category" value="<%= skin.category %>" required >
                        </div>
                        
                    </div>
                    <div class="edit_row">
                        <div class="row_left">
                            <label>Skin</label>
                        </div>
                        <div class="row_right">
                            <input class="edit_text" type="text" id="skinname" name="skin_name" value="<%= skin.skin_name %>" required >
                        </div>
                        
                    </div>
                    <div class="edit_row">
                        <div class="row_left">
                            <label>Image</label>
                        </div>
                        <div class="row_right">
                            <input class="edit_text" type="text" id="imglink" name="img" value="<%= skin.img %>" required >
                        </div>
                        
                    </div>
                   
                    <div class="edit_row">
                        <div class="row_left">
                            <label>Details</label>
                        </div>
                        <div class="row_right">
                            <textarea name="desc" required  minlength="50"><%= skin.desc %></textarea>
                        </div>
                        
                    </div>
                   
                   <div class="edit_row">
                        <input type="submit" value="Update Trade" />

                   </div>
                    
                </form>
            </div>
        </main>
  <%- include('../partials/footer.ejs') %>