<%- include('../partials/header.ejs') %>
<% const categories = []; %>
<% skins.forEach( skin => { %>
<% if(categories.indexOf(skin.category) == -1){ %>
<% categories.push(skin.category)%>
<% }}) %>

<main class="main_trade">
        <div class="sections_container">
            <% if(skins.length) { %>
                <% categories.forEach( category => { %>
                <section class="category">
                    <div class="category_header">
                        <header><h3><%= category.toUpperCase() %></h3></header>
                    </div>
                    <div class="category_body">
                        <% skins.forEach(skin => { %>
                            <% if(skin.category == category) { %>
                                <div class="skin">
                                    <div class="skin_top">
                                        <%=skin.skin_name%>
                                        
                                    </div>
                                    
                                    <div class="skin_img">
                                        <img src="<%= skin.img%>" alt="<%= skin.skin_name%>">
                                    </div>
                                    <a class="trades_skin_name" href="/trades/<%= skin.id %>">Click here</a>
                                   
                                    
                                </div>
                       
                            <% } %>
                        <% }) %>
                    </div>
                        
                </section>
                <% }) %>
            <% } %>
        </div>
        
    </main>
   <%- include('../partials/footer.ejs') %>